<div class="navbar-container">
  <nav>
    <a href="">
      <div class="navbar-logo"></div>
      <div class="left-align">
        <div class="name-wide">
          <h1 class="lovska-zveza">Lovska zveza</h1>
          <h1 class="slovenije">Slovenije</h1>
        </div>
        <div class="name-narrow">
          <h1 class="lovska-zveza">LZ</h1>
          <h1 class="slovenije">S</h1>
        </div>
        <!--<h2>Prva pomoč za lovce</h2>-->
      </div></a
    >

    <div class="right-align">
      <ul class="links">
        <li><a href="">Domov</a></li>
        <li><a href="/gradiva">Gradiva</a></li>
        <li><a href="/kviz">Kviz</a></li>
      </ul>
      <div #toggleBtn class="toggle-btn">
        <i #toggleBtnIcon class="fa-solid fa-bars"></i>
      </div>

      <div #dropDownMenu class="dropdown-menu">
        <li><a href="">Domov</a></li>
        <li><a href="/gradiva">Gradiva</a></li>
        <li><a href="/kviz">Kviz</a></li>
      </div>
    </div>
  </nav>
</div>
