<div class="container">
  <div class="section one">
    <div class="bimg">
      <div class="gradient">
        <div class="container-sec-one">
          <h2>Prva pomoč lovstvo</h2>
          <p>
            Preglej gradivo, ki zajema postopke prve pomoči za najpogostejše
            poškodbe, ki se pojavijo med lovom.
          </p>
          <button>
            <a class="btn-link" href="/gradiva/podhladitev">Gradiva ></a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="section two">
    <div class="bimg"></div>
  </div>
  <div class="section three">
    <div class="bimg">
      <div class="container-padding">
        <div class="container-sec-three">
          <h2>Preveri svoje znanje</h2>
          <p>
            z reševanjem kratkega kviza preveri in utrdi svoje znanje na temo
            prve pomoči v lovstvu.
          </p>
          <button>
            <a class="btn-link" href="/kviz">Kviz ></a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="section four">
    <div class="container-text-four">
      <div class="container-four-padding">
        <h2>Kako naj bi izgledala prva pomoč</h2>
        <p>primer pristop amputacija</p>
      </div>
    </div>
    <div class="video">
      <video controls>
        <source src="./assets/pristopAmputacija.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div class="section five">
    <div class="bimg">
      <div class="sec-for-text">
        <p>Komplet za prvo pomoč</p>
        <button>></button>
      </div>
    </div>
    <div class="container-sec-five">
      <div class="con-padd">
        <h2>Komplet za prvo pomoč</h2>
        <button>></button>
      </div>
    </div>
  </div>
</div>
