<div class="container">
  <div class="section one">
    <div class="bimg">
      <div class="gradient">
        <div class="container-sec-one">
          <h2 class="bold">Prva pomoč lovstvo</h2>
          <p>
            Preglej gradivo, ki zajema postopke prve pomoči za najpogostejše
            poškodbe, ki se pojavijo med lovom.
          </p>
          <button>
            <a class="btn-link" href="/gradiva/podhladitev">Gradiva</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="section two">
    <div class="container-sec-two">
      <div class="con-padd">
        <p>Glavna sezona lova na divje živali se izvaja predvsem v zimskem času, kar pomeni, da lovca ogroža</p>
        <p class="bold">mraz, moker ter nevaren teren in seveda divje živali.</p>
      </div>
    </div>
    <div class="bimg">
    </div>
  </div>
  <div class="section six">

    <div class="img-con">
      <div class="bimg">
      </div>
    </div>
    <div class="container-sec-six">
      <div class="con-padd">
        <p>Lovci so pri svojem poklicu/konjičku najbolj izpostavljeni poškodbam kot so</p>
        <p class="bold">padci z posledično poškodbami kosti, sklepov in notranjih organov. Ogrožajo pa jih tudi podhladitve, nevarnost za napade, ugrize ter pike živali in udare strel.</p>
      </div>
    </div>
  </div>
  <div class="section three">
    <div class="bimg">
      <div class="container-padding">
        <div class="container-sec-three">
          <h2 class="bold">Preveri svoje znanje</h2>
          <p>
            z reševanjem kratkega kviza preveri in utrdi svoje znanje na temo
            prve pomoči v lovstvu.
          </p>
          <button>
            <a class="btn-link" href="/kviz">Kviz</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="section four">
    <div class="container-text-four">
      <div class="container-four-padding">
        <h2 class="bold">Kako naj bi izgledala prva pomoč</h2>
        <p>primer pristop amputacija</p>
      </div>
    </div>
    <div class="video">
      <video controls>
        <source src="./assets/pristopAmputacija.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div class="section five">
    <div class="bimg">
      <div class="sec-for-text">
        <p>Komplet za prvo pomoč</p>
        <button>></button>
      </div>
    </div>
    <div class="container-sec-five">
      <div class="con-padd">
        <h2>Komplet za prvo pomoč</h2>
        <button>></button>
      </div>
    </div>
  </div>
</div>
