.bimg {
  display: block;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-link {
  color: white;
}

.one {
  height: 90vh;
  width: 100%;
}

.one .bimg {
  background-image: url("../../../assets/secOne.jpg");
}

.two .bimg {
  background-image: url("../../../assets/secTwo2.jpg");
  float: right;
  width: 50%;
}

.container-sec-two {
  float: left;
  width: 50%;
  height: 90vh;
  background: #503b26;
  color: white;
}

.two .con-padd {
  width: 60%;
  padding: 40vh 20px 60px 15%;
}

.bold {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
}

.two {
  height: 90vh;
  display: flex;
}

.img-con {
  height: 90vh;
  //display: flex;
  width: 50%;
  float: left;
}

.six .bimg {
  background-image: url("../../../assets/secSix2.jpg");
  height: 60%;
  float: left;
  /*width: 50%;
  height: auto;*/
  margin: 20vh 10% 0 10%;
}

.container-sec-six {
  float: right;
  width: 50%;
  height: 90vh;
}

.six {
 .con-padd {
    width: 60%;
    padding: 20vh 15% 60px 20%;
  }
}

.six {
  height: 90vh;
  display: flex;
  background: #b29d76;
  color: white;
}


.three .bimg {
  background-image: url("../../../assets/secThree.jpg");
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.gradient {
  height: 100%;
  background-image: linear-gradient(
    to right,
    #bbbbbb,
    rgb(0, 0, 0, 0),
    transparent
  );
}

.container-sec-one {
  height: auto;
  width: 50vh;
  padding: 40vh 65% 0 90px;
}

.container-sec-three {
  background: rgb(187, 187, 187, 0.2);
  backdrop-filter: blur(10px);
  color: white;
  height: auto;
  width: auto;
  max-width: 50vh;
  padding: 30px 30px 30px 30px;
  border-radius: 25px;
}

.container-padding {
  padding: 30vh 40px 0 40vw;
}

.four {
  height: 90vh;
  width: 100%;
  background: #503b26;
  color: white;
}

.container-four-padding {
  padding: 40vh 20px 20px 40px;
}

.container-text-four {
  width: 30%;
  height: 90vh;
  float: left;
}

.video {
  width: 70%;
  height: 90vh;
  float: right;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 90%;
  height: auto;
}

.five .bimg {
  float: left;
  width: 60%;
  background-image: url("../../../assets/secFour.jpg");
}

.sec-for-text {
  display: none;
  height: 0;
}

.container-sec-five {
  float: right;
  width: 40%;
  height: 90vh;
}

.five .con-padd {
  padding: 40vh 20px 20px 20%;
}

.five {
  height: 90vh;
  display: flex;
}

//RESPONSIVE DESIGN
@media (max-width: 750px) {
  .container-sec-one {
    padding: 40vh 40px 0 40px;
    width: auto;
  }

  .container-padding {
    padding: 20vh 20px 60px 20px;
  }

  .container-sec-two {
    width: 100%;
  }

  .two .bimg {
    display: none;
  }

  .two {
    .con-padd {
      width: 60%;
      padding: 40vh 20px 60px 15%;
    }
  }

  .container-sec-six {
    width: 100%;
  }

  .six .bimg {
    display: none;
  }

  .six {
    .con-padd {
      width: 60%;
      padding: 5vh 20px 60px 15%;
    }
  }

  .img-con {
    display: none;
  }

  .container-sec-three {
    width: auto;
  }

  .five .bimg {
    width: 100%;
  }

  .container-sec-five {
    display: none;
  }

  .sec-for-text {
    display: block;
    background: rgb(187, 187, 187, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    height: auto;
    width: auto;
    max-width: 90%;
    padding: 30px 30px 30px 30px;
    border-radius: 25px;
    margin: 30% 20px 20px 20px;
  }

  .section .four {
    display: flex;
    flex-direction: row;
    height: 90vh;
  }

  .container-text-four {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10%;
  }

  .container-four-padding {
    padding: 20px 20px 20px 20px;
  }

  video {
    width: 100%;
    height: auto;
  }
  .video {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
  }
}

@media (min-width: 1400px) {
  .container-four-padding {
    padding: 30vh 20px 20px 80px;
  }

  .video {
    width: 70%;
    height: 90vh;
    float: right;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  video {
    width: 90%;
    height: auto;
  }
}

@media (min-width: 2000px) {
  .container-four-padding {
    padding: 30vh 20px 20px 80px;
  }

  .video {
    width: 70%;
    height: 90vh;
    float: right;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  video {
    width: 90%;
    height: auto;
  }

  .five .con-padd {
    padding: 40vh 20px 20px 160px;
  }
}
