<div class="container">
  <p class="title">
    <strong
      ><span class="title-large">OŽIVLJANJE Z UPORABO AED</span></strong
    >
  </p>
  <p class="description">
  </p>
  <p class="spacer">&nbsp;</p>
  <div class="img"></div>
  <p class="spacer">&nbsp;</p>

  <p class="title">
    <strong
      ><span class="title-large"
        >TEMELJNI POSTOPKI OŽIVLJANJA Z UPORABO AED</span
      ></strong
    >
  </p>
  <div class="video">
    <video controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/prvapomoclovstvovideos.appspot.com/o/TPO-version2.mp4?alt=media&token=1146c99c-c9fa-4018-bf72-10028e04776f" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</div>

