<div class="container">
  <p class="title">
    <strong
      ><span class="title-large">PRVA POMOČ PRI UGRIZU KLOPA</span></strong
    >
  </p>
  <ol class="steps">
    <li><span class="step-text">Identificiramo mesto ugriza.</span></li>
    <li>
      <span class="step-text"
        >Klopa odstranimo s pinceto oz. s temu namenjenim prijemalom tako, da ga
        zgrabimo čim bližje glavi in ga izvlečemo iz kože. Potrudimo se
        odstraniti celotnega klopa skupaj z glavo. Ne uporabljamo olji, premazov
        ali drugih preparatov. Ne vrtimo pincete in ne uporabljamo krožnih gibov
        za odstranitev.</span
      >
    </li>
    <li>
      <span class="step-text">Po odstranitvi mestu ugriza razkužimo.</span>
    </li>
    <li>
      <span class="step-text"
        >Po odstranitvi klopa opazujemo kožo in v primeru nastanka kakršnihkoli
        lis ali izpuščajev nemudoma obiščemo zdravnika. Obisk zdravnika je prav
        tako obvezen ob pojavu simptomov kot so vročina, tresavica, utrujenost,
        bolečina v mišicah in sklepih.</span
      >
    </li>
  </ol>
  <p class="spacer">&nbsp;</p>
  <p class="title">
    <strong
      ><span class="title-large"
        >PRVA POMOČ PRI UGRIZU KLOPA ZA LOVCA:</span
      ></strong
    >
  </p>
  <ol class="steps">
    <li>
      <strong
        ><span class="step-title">Identificiraj mesto ugriza:</span></strong
      ><span class="step-text">
        Poišči in identificiraj mesto, kjer je klop zagrabil kožo.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Odstrani klopa:</span></strong
      ><span class="step-text">
        S pinceto ali s posebnim prijemalom čim bližje glavi klopa ga nežno, a
        trdno zgrabi in izvleci iz kože. Poskusi odstraniti celotnega klopa,
        vključno z glavo, brez vrtenja pincete ali uporabe krožnih gibov. Ne
        uporabljaj olj, premazov ali drugih preparatov.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Razkuži mesto ugriza:</span></strong
      ><span class="step-text">
        Po odstranitvi klopa temeljito razkuži mesto ugriza, da preprečiš
        morebitno okužbo.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Opazuj kožo in počutje:</span></strong
      ><span class="step-text">
        Po odstranitvi klopa redno opazuj kožo na mestu ugriza. Če opaziš
        kakršnekoli nenavadne lise ali izpuščaje, nemudoma poišči zdravniško
        pomoč. Prav tako obišči zdravnika ob pojavu simptomov, kot so vročina,
        tresavica, utrujenost, glavobol, bolečina v mišicah in sklepih.</span
      >
    </li>
  </ol>
</div>
