<div class="container">
  <p class="title">
    <strong
      ><span class="title-large">POLOŽAJ NEZAVESTNEGA</span></strong
    >
  </p>
  <p class="description">
  </p>
  <p class="spacer">&nbsp;</p>

  <p class="title">
    <strong
      ><span class="title-large"
        >PRVA POMOČ OB NEZAVESTI</span
      ></strong
    >
  </p>
  <div class="video">
    <video controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/prvapomoclovstvovideos.appspot.com/o/NEZAVESTEN-version2.mp4?alt=media&token=00349d8b-7368-499c-a550-cdb448e7c7b9" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</div>

