<div class="container">
  <p class="title">
    <strong
      ><span class="title-large">PRVA POMOČ PRI UGRIZNIH RANAH</span></strong
    >
  </p>
  <ol class="steps">
    <li>
      <span class="step-text"
        >Preučimo mesto nezgode (položaj, dostop, nevarnosti)</span
      >
    </li>
    <li><span class="step-text">Kličemo na pomoč</span></li>
    <li>
      <span class="step-text"
        >Osnovni pregled poškodovanca – izključimo pomembne pridružene poškodbe
        in obsežne krvavitve, ki ogrožajo življenje oz. vodijo v hitro
        poslabšanje zdravstvenega stanja. Pri hudi zunanji krvavitvi je potrebno
        takojšnje ukrepanje.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Pri zastoju bitja srca pričnemo s temeljnimi postopki oživljanja. V
        primeru, da je poškodovanec nezavesten, ga namestimo v položaj za
        nezavestnega.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Natančen pregled rane – pri poškodovancih, ki niso življenjsko
        ogroženi, rane natančno pregledamo. Odkrijemo ranjeni del telesa tako,
        da vidimo celotno rano.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Ugrizno rano temeljito izperemo s čisto vodo in milom.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Če iz rane krvavi ustavimo krvavitev s kompresijsko obvezo ali
        neposrednim pritiskom na mesto preko sterilne gaze.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Rano pokrijemo s sterilno gazo, ki naj sega primerno daleč preko robov
        rane. Gazo pritrdimo s trikotno ruto ali povojem. Kot obvezo lahko
        uporabimo tudi čist, prelikan robec.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Ranjeni del telesa mora mirovati. Imobilizacija ublaži bolečine,
        preprečuje povečanje ali novo krvavitev in širjenje morebitne
        okužbe.</span
      >
    </li>
    <li>
      <span class="step-text"
        >S poškodovancem se pogovarjamo in ga spodbujamo ter poskrbimo za
        ustrezen prevoz v bolnišnico. V primeru obsežnejših poškodb naj
        poškodovanec leži.</span
      >
    </li>
    <li>
      <span class="step-text"
        >V primeru, da poškodovanec ali opazovalec ob pogledu na rano omedli ali
        se zgrudi mu dvignemo noge, odpnemo ovratnik in pas, na čelo in vrat
        namestimo hladne obkladke, nadzorujemo poškodovanca in izključimo
        morebitne udarnine in rane.</span
      >
    </li>
  </ol>
  <p class="spacer">&nbsp;</p>
  <p class="title">
    <strong
      ><span class="title-large"
        >PRVA POMOČ PRI UGRIZNIH RANAH ZA LOVCA:</span
      ></strong
    >
  </p>
  <ol class="steps">
    <li>
      <strong><span class="step-title">Preuči mesto nezgode:</span></strong
      ><span class="step-text">
        Pred začetkom pomoči preglej okolico za morebitne nevarnosti in zagotovi
        varnost za sebe in za poškodovanca.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Pokliči na pomoč:</span></strong
      ><span class="step-text">
        Takoj pokliči na pomoč reševalce ali drugo primerno službo za nujne
        primere.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title">Osnovni pregled poškodovanca:</span></strong
      ><span class="step-text">
        Preveri stanje poškodovanca in izključi pomembne pridružene poškodbe ter
        obsežne krvavitve, ki bi lahko ogrozile njegovo življenje.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Pri zastoju srca začni s postopki oživljanja:</span
        ></strong
      ><span class="step-text">
        Če pride do zastoja srca, takoj začni s temeljnimi postopki oživljanja.
        Nezavestnega poškodovanca namesti v položaj za nezavestne.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Natančen pregled rane:</span></strong
      ><span class="step-text">
        Rano natančno preglej, da ugotoviš obseg poškodbe.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Izperi rano s čisto vodo in milom:</span
        ></strong
      ><span class="step-text">
        Ugrizno rano temeljito izperi s čisto vodo in milom, da preprečiš
        okužbo.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Ustavi krvavitev:</span></strong
      ><span class="step-text">
        Če rana krvavi, poskusi ustaviti krvavitev s kompresijsko obvezo ali
        neposrednim pritiskom na mesto s sterilno gazo.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Obveži rano:</span></strong
      ><span class="step-text">
        Rano pokrij s sterilno gazo, ki naj sega čez robove rane, in jo pritrdi
        s trikotno ruto ali povojem. Za pritrdilni material lahko uporabiš druge
        materiale.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Imobiliziraj poškodovani del telesa:</span
        ></strong
      ><span class="step-text">
        Poškodovani del telesa imobiliziraj, da preprečiš nadaljnje poškodbe,
        zmanjšaš bolečine in preprečiš nadaljnje okužbe.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Pogovarjaj se s poškodovancem in ga spodbujaj:</span
        ></strong
      ><span class="step-text">
        Ohrani stik s poškodovancem, ga pomiri in spodbujaj ter poskrbi za
        ustrezno prevoz v bolnišnico.</span
      >
    </li>
    <li>
      <strong><span class="step-title">V primeru omedlevice:</span></strong
      ><span class="step-text">
        Če poškodovanec ali opazovalec omedli ali se zgrudi ob pogledu na rano,
        mu dvigni noge, odpni ovratnik in pas ter na čelo in vrat namesti hladne
        obkladke. Nadaljuj z nadzorom stanja poškodovanca.</span
      >
    </li>
  </ol>
</div>
