<div class="container">
  <p class="title">
    <strong
      ><span class="title-large">PRVA POMOČ PRI UDARU STRELE</span></strong
    >
  </p>
  <p class="description">
    Udarec strele predstavlja življenjsko nevarno situacijo, ki zahteva hitro in pravilno ukrepanje. S pravilnimi postopki prve pomoči lahko zmanjšamo posledice in rešimo življenje poškodovanca.
  </p>
  <p class="spacer">&nbsp;</p>
  <div class="img"></div>
  <p class="spacer">&nbsp;</p>
  <ol class="steps">
    <li>
      <span class="step-text"
        ><strong>Klic na pomoč:</strong> Takoj ko pride do udara strele, je ključnega pomena, da pokličemo nujno medicinsko pomoč. Strokovnjaki bodo lahko hitro prišli na kraj dogodka in nudili potrebno oskrbo.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Odstranjevanje vira toplote:</strong> Če je zaradi udara strele prišlo do požara ali ožganin, je pomembno, da čim prej odstranimo vir toplote. To lahko storimo z odejo, plaščem ali vodo, da pogasimo morebiten ogenj. Treba je opozoriti, da se poškodovanca lahko varno dotikamo, saj nima električnega naboja.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Osnovni pregled in ocena stanja:</strong> Po tem, ko smo poskrbeli za varnost, opravimo osnovni pregled poškodovanca. Izključimo morebitne pridružene poškodbe, ki bi lahko ogrožale zdravstveno stanje, kot so zlomi, krvavitve ali poškodbe glave.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Prenos na varno:</strong> Poškodovanca je potrebno prenesti na varno mesto, stran od izpostavljenih območij, kjer bi lahko strela ponovno udarila. S tem zmanjšamo tveganje za dodatne poškodbe.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Oživljanje v primeru srčnega zastoja:</strong> Če poškodovanec ne kaže znakov življenja, nemudoma pričnemo s temeljnimi postopki oživljanja, vključno z umetnim dihanjem in stiskanjem prsnega koša.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Oskrba opeklin:</strong> Opekline, ki jih je povzročil udarec strele, hladimo s hladno tekočo vodo vsaj 15 minut. Pomembno je, da pazimo, da poškodovanca ne podhladimo. Če tekoča voda ni na voljo, lahko uporabimo čiste brisače, namočene v hladno vodo. Hlajenje pomaga zmanjšati bolečino in preprečuje dodatne poškodbe tkiva.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Oskrba rane in drugih poškodb:</strong> Opeklinsko rano pokrijemo s sterilno gazo in povojem ali aluminijasto folijo. Če druge možnosti ni, lahko uporabimo čisto rjuho. Opečenca pokrijemo z odejo, da preprečimo podhladitev. Pomembno je, da ne prediramo opeklinskih mehurjev in ne obvezujemo opečenega obraza.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Priprava na prevoz v bolnišnico:</strong> Na koncu poškodovanca pripravimo za prevoz v bolnišnico, kjer bo prejel nadaljnjo oskrbo. Pri tem je ključno, da ga ustrezno zaščitimo pred mrazom in dodatnimi poškodbami.</span
      >
    </li>
  </ol>
  <p class="description">
    S pravilnim ukrepanjem pri udaru strele lahko učinkovito zmanjšamo posledice in povečamo možnosti za preživetje poškodovanca.</p>
  <p class="spacer">&nbsp;</p>
  <p class="title">
    <strong
      ><span class="title-large"
        >PRVA POMOČ PRI UDARU STRELE ZA LOVCA:</span
      ></strong
    >
  </p>
  <ol class="steps">
    <li>
      <strong><span class="step-title">Pokliči pomoč:</span></strong
      ><span class="step-text">
        Takoj pokliči reševalce in priskrbi čim več informacij o lokaciji in
        stanju poškodovanca.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Odstrani vir toplote:</span></strong
      ><span class="step-text">
        Poškodovanca se lahko dotikamo, saj nima električnega naboja. Če je
        poškodovanec v ognju ali so na njem goreča oblačila, jih pogasi z odejo,
        plaščem ali vodo, pri čemer pazi na ohranjanje lastne varnosti.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Opravi osnovni pregled:</span></strong
      ><span class="step-text">
        Preveri poškodovanca in izključi pomembne pridružene poškodbe, ki bi
        lahko ogrozile njegovo zdravstveno stanje.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title">Prenesi poškodovanca na varno:</span></strong
      ><span class="step-text">
        Premakni poškodovanca na varno mesto, stran od izpostavljenih območij,
        kjer bi lahko ponovno udarila strela.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Začni s postopki oživljanja, če je potrebno:</span
        ></strong
      ><span class="step-text">
        Če poškodovanec ne kaže znakov življenja, začni s temeljnimi postopki
        oživljanja.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Odstrani oblačila, ki niso prilepljena na rano:</span
        ></strong
      ><span class="step-text">
        Odstrani oblačila, ki bi lahko dražila rane, vendar bodi previden, da ne
        povzročiš dodatnih poškodb.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Hladi opekline:</span></strong
      ><span class="step-text">
        Opekline hladite s hladno tekočo vodo ali, če ni na voljo voda, s čisto
        brisačo, namočeno v hladno vodo. Pomembno je, da ne podhladite
        poškodovanca.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Oskrbi opeklino:</span></strong
      ><span class="step-text">
        Rano pokrij s sterilno gazo in povojem ali aluminijasto folijo.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Pripravi poškodovanca za prevoz:</span
        ></strong
      ><span class="step-text">
        Poškodovanca pokrij z odejo, da ga ohraniš toplo, in ga pripravi za
        prevoz v bolnišnico.</span
      >
    </li>
  </ol>
</div>
