<div class="container">
  <p class="title">
    <strong
      ><span class="title-large">PRVA POMOČ PRI UDARU STRELE</span></strong
    >
  </p>
  <ol class="steps">
    <li><span class="step-text">Pokličemo pomoč.</span></li>
    <li>
      <span class="step-text"
        >Odstranimo vir toplote oz. pogasimo morebiten ogenj z odejo, plaščem
        ali vodo.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Poškodovanca se lahko dotikamo, ker nima električnega naboja.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Opravimo osnovni pregled poškodovanca in izključimo pomembne pridružene
        poškodbe, ki lahko ogrožajo zdravstveno stanje.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Poškodovano osebo prenesemo na varno. Izogibamo se izpostavljenih
        območji v katere lahko strela ponovno udari.</span
      >
    </li>
    <li>
      <span class="step-text"
        >V primeru, da poškodovanec ne kaže znakov življenja, pričnemo s
        temeljnimi postopki oživljanja.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Odstranimo oblačila, ki niso prilepljena na rano poškodovanca.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Opekline hladimo s hladno tekočo vodo 15 minut, pri čemer pazimo, da
        poškodovanega ne podhladimo. Če uporaba tekoče vode ni mogoča, uporabimo
        brisače, ki so namočene v hladno čisto vodo. Hlajenje zmanjša bolečino
        in preprečuje poškodbo še živega tkiva.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Oskrbimo spremljajoče poškodbe po smiselnem vrstnem redu.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Oskrbimo opeklinsko rano – rano pokrijemo s sterilno gazo in povojem
        ali alu-folijo ter opečenca pokrijemo z odejo, da ga ne zebe. Če na
        terenu ni druge možnosti, opečenca ovijemo s čisto rjuho. Opeklinskih
        mehurjev ne prediramo in opečenega obraza ne obvezujemo.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Poškodovanega pripravimo za prevoz v bolnišnico.</span
      >
    </li>
  </ol>
  <p class="spacer">&nbsp;</p>
  <p class="title">
    <strong
      ><span class="title-large"
        >PRVA POMOČ PRI UDARU STRELE ZA LOVCA:</span
      ></strong
    >
  </p>
  <ol class="steps">
    <li>
      <strong><span class="step-title">Pokliči pomoč:</span></strong
      ><span class="step-text">
        Takoj pokliči reševalce in priskrbi čim več informacij o lokaciji in
        stanju poškodovanca.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Odstrani vir toplote:</span></strong
      ><span class="step-text">
        Poškodovanca se lahko dotikamo, saj nima električnega naboja. Če je
        poškodovanec v ognju ali so na njem goreča oblačila, jih pogasi z odejo,
        plaščem ali vodo, pri čemer pazi na ohranjanje lastne varnosti.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Opravi osnovni pregled:</span></strong
      ><span class="step-text">
        Preveri poškodovanca in izključi pomembne pridružene poškodbe, ki bi
        lahko ogrozile njegovo zdravstveno stanje.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title">Prenesi poškodovanca na varno:</span></strong
      ><span class="step-text">
        Premakni poškodovanca na varno mesto, stran od izpostavljenih območij,
        kjer bi lahko ponovno udarila strela.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Začni s postopki oživljanja, če je potrebno:</span
        ></strong
      ><span class="step-text">
        Če poškodovanec ne kaže znakov življenja, začni s temeljnimi postopki
        oživljanja.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Odstrani oblačila, ki niso prilepljena na rano:</span
        ></strong
      ><span class="step-text">
        Odstrani oblačila, ki bi lahko dražila rane, vendar bodi previden, da ne
        povzročiš dodatnih poškodb.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Hladi opekline:</span></strong
      ><span class="step-text">
        Opekline hladite s hladno tekočo vodo ali, če ni na voljo voda, s čisto
        brisačo, namočeno v hladno vodo. Pomembno je, da ne podhladite
        poškodovanca.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Oskrbi opeklino:</span></strong
      ><span class="step-text">
        Rano pokrij s sterilno gazo in povojem ali aluminijasto folijo.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Pripravi poškodovanca za prevoz:</span
        ></strong
      ><span class="step-text">
        Poškodovanca pokrij z odejo, da ga ohraniš toplo, in ga pripravi za
        prevoz v bolnišnico.</span
      >
    </li>
  </ol>
</div>
