<div class="container">
  <p class="title">
    <strong
      ><span class="title-large">PRVA POMOČ PRI UGRIZNIH RANAH</span></strong
    >
  </p>
  <p class="description">
    Ugrizne rane so lahko zelo nevarne, saj poleg mehanskih poškodb pogosto prinesejo tudi tveganje za okužbo. Pomembno je, da pravilno in hitro ukrepamo, da zmanjšamo tveganje za zaplete in zagotovimo ustrezno oskrbo poškodovanca.
  </p>
  <p class="spacer">&nbsp;</p>
  <ol class="steps">
    <li>
      <span class="step-text"
        ><strong>Preučitev mesta nezgode:</strong> Preden pristopimo k poškodovancu, ocenimo okolje nezgode. Preverimo položaj, dostop in morebitne nevarnosti, ki bi lahko ogrožale tako poškodovanca kot reševalce.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Klic na pomoč:</strong> Takoj pokličemo reševalce ali drugo ustrezno pomoč, še posebej, če je ugrizna rana huda ali če gre za ugriz strupene živali.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Osnovni pregled poškodovanca:</strong> Preverimo stanje poškodovanca in izključimo prisotnost drugih poškodb, kot so obsežne krvavitve ali poškodbe notranjih organov, ki bi lahko ogrožale življenje. V primeru hude zunanje krvavitve je potrebno nemudoma ukrepati in ustaviti krvavitev.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Oživljanje:</strong> Če pride do zastoja srca, takoj pričnemo s temeljnimi postopki oživljanja. Če je poškodovanec nezavesten, ga namestimo v položaj za nezavestnega, da preprečimo zadušitev.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Natančen pregled rane:</strong> Pri poškodovancih, ki niso življenjsko ogroženi, rane natančno pregledamo. Pomembno je, da odkrijemo celotno ranjeno območje in ocenimo obseg poškodbe.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Izpiranje ugrizne rane:</strong> Rano temeljito izperemo s čisto vodo in milom, da odstranimo umazanijo in zmanjšamo tveganje za okužbo.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Ustavitev krvavitve:</strong> Če iz rane krvavi, krvavitev ustavimo s kompresijsko obvezo ali neposrednim pritiskom na mesto krvavitve preko sterilne gaze.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Pokritje rane:</strong> Rano pokrijemo s sterilno gazo, ki naj sega čez robove rane. Gazo pritrdimo s trikotno ruto ali povojem. Kot obvezo lahko uporabimo tudi čist, prelikan robec.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Imobilizacija ranjenega dela:</strong> Ranjeni del telesa mora mirovati, zato ga imobiliziramo. Imobilizacija ublaži bolečine, preprečuje povečanje ali novo krvavitev ter širjenje morebitne okužbe.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Komunikacija in prevoz:</strong> S poškodovancem se pogovarjamo in ga spodbujamo, medtem ko čakamo na prihod reševalcev. V primeru obsežnejših poškodb naj poškodovanec leži. Po potrebi poskrbimo za varen prevoz v bolnišnico.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Ukrepi v primeru omedlevice:</strong> Če poškodovanec ali opazovalec omedli ob pogledu na rano, mu dvignemo noge, odpremo ovratnik in pas, ter na čelo in vrat namestimo hladne obkladke. Nadzorujemo stanje poškodovanca in izključimo morebitne dodatne poškodbe.</span
      >
    </li>
  </ol>
  <p class="spacer">&nbsp;</p>
  <p class="title">
    <strong
      ><span class="title-large"
        >PRVA POMOČ PRI UGRIZNIH RANAH ZA LOVCA:</span
      ></strong
    >
  </p>
  <p class="spacer">&nbsp;</p>
  <div class="video">
    <video controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/prvapomoclovstvovideos.appspot.com/o/NEZAVESTEN-version2.mp4?alt=media&token=00349d8b-7368-499c-a550-cdb448e7c7b9" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <p class="spacer">&nbsp;</p>
  <ol class="steps">
    <li>
      <strong><span class="step-title">Preuči mesto nezgode:</span></strong
      ><span class="step-text">
        Pred začetkom pomoči preglej okolico za morebitne nevarnosti in zagotovi
        varnost za sebe in za poškodovanca.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Pokliči na pomoč:</span></strong
      ><span class="step-text">
        Takoj pokliči na pomoč reševalce ali drugo primerno službo za nujne
        primere.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title">Osnovni pregled poškodovanca:</span></strong
      ><span class="step-text">
        Preveri stanje poškodovanca in izključi pomembne pridružene poškodbe ter
        obsežne krvavitve, ki bi lahko ogrozile njegovo življenje.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Pri zastoju srca začni s postopki oživljanja:</span
        ></strong
      ><span class="step-text">
        Če pride do zastoja srca, takoj začni s temeljnimi postopki oživljanja.
        Nezavestnega poškodovanca namesti v položaj za nezavestne.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Natančen pregled rane:</span></strong
      ><span class="step-text">
        Rano natančno preglej, da ugotoviš obseg poškodbe.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Izperi rano s čisto vodo in milom:</span
        ></strong
      ><span class="step-text">
        Ugrizno rano temeljito izperi s čisto vodo in milom, da preprečiš
        okužbo.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Ustavi krvavitev:</span></strong
      ><span class="step-text">
        Če rana krvavi, poskusi ustaviti krvavitev s kompresijsko obvezo ali
        neposrednim pritiskom na mesto s sterilno gazo.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Obveži rano:</span></strong
      ><span class="step-text">
        Rano pokrij s sterilno gazo, ki naj sega čez robove rane, in jo pritrdi
        s trikotno ruto ali povojem. Za pritrdilni material lahko uporabiš druge
        materiale.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Imobiliziraj poškodovani del telesa:</span
        ></strong
      ><span class="step-text">
        Poškodovani del telesa imobiliziraj, da preprečiš nadaljnje poškodbe,
        zmanjšaš bolečine in preprečiš nadaljnje okužbe.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Pogovarjaj se s poškodovancem in ga spodbujaj:</span
        ></strong
      ><span class="step-text">
        Ohrani stik s poškodovancem, ga pomiri in spodbujaj ter poskrbi za
        ustrezno prevoz v bolnišnico.</span
      >
    </li>
    <li>
      <strong><span class="step-title">V primeru omedlevice:</span></strong
      ><span class="step-text">
        Če poškodovanec ali opazovalec omedli ali se zgrudi ob pogledu na rano,
        mu dvigni noge, odpni ovratnik in pas ter na čelo in vrat namesti hladne
        obkladke. Nadaljuj z nadzorom stanja poškodovanca.</span
      >
    </li>
  </ol>
</div>
