<div class="container">
  <p class="title">
    <strong><span class="title-text">PRETIRANO ZAUŽITJE ALKOHOLA</span></strong>
  </p>
  <ol class="steps">
    <li>
      <span class="step-text"
        >Preverimo, vzpostavimo in vzdržujemo življenjske funkcije.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Nezavestnega damo v stabilni bočni položaj in ga ves čas
        opazujemo.</span
      >
    </li>
    <li><span class="step-text">Pokličemo pomoč.</span></li>
    <li>
      <span class="step-text"
        >Zastrupljenca pokrijemo z odejo, da preprečimo podhladitev.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Nemirnega zastrupljenca poskusimo umiriti in mu preprečimo, da bi se
        poškodoval.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Poiščemo morebitne znake poškodbe (odrgnina, podplutba, bolečina na
        pritisk…) in jih oskrbimo.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Poiščemo in shranimo embalažo in ostanke tekočine.</span
      >
    </li>
    <li><span class="step-text">Poskrbimo za prevoz.</span></li>
  </ol>
  <p class="spacer">&nbsp;</p>
  <p class="title">
    <strong
      ><span class="title-text"
        >PRVA POMOČ OB PRETIRANEM ZAUŽITJU ALKOHOLA ZA LOVCA:</span
      ></strong
    >
  </p>
  <ol class="steps">
    <li>
      <strong><span class="step-title">Preveri vitalne funkcije:</span></strong
      ><span class="step-text">
        Poskrbi, da je oseba sposobna dihati in jo poskusi ohraniti pri
        zavesti.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Postavi osebo v stabilni bočni položaj:</span
        ></strong
      ><span class="step-text">
        Če je oseba nezavestna, jo položi v stabilni bočni položaj, da preprečiš
        zadušitev zaradi morebitnega bruhanja. Osebo ves čas opazuj.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Pokliči pomoč:</span></strong
      ><span class="step-text">
        Če je situacija resna ali če nisi prepričan o nadaljnjih korakih,
        pokliči pomoč. Priskrbi čim več informacij o lokaciji in stanju
        osebe.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Odeja za ohranjanje telesne toplote:</span
        ></strong
      ><span class="step-text">
        Če je okolje hladno, pokrij osebo z odejo, da preprečiš
        podhladitev.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title">Umiri nemirnega zastrupljenca:</span></strong
      ><span class="step-text">
        Poskusi umiriti osebo in prepreči, da bi se poškodovala. Spremljaj njeno
        stanje in reagiraj na morebitne spremembe.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title">Preveri morebitne poškodbe:</span></strong
      ><span class="step-text">
        Preglej osebo in poišči morebitne znake poškodb, kot so odrgnine,
        podplutbe ali bolečine. Oskrbi poškodbe po potrebi.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Shrani embalažo in ostanke tekočine:</span
        ></strong
      ><span class="step-text">
        Če je na voljo, poišči embalažo ali ostanke alkohola za morebitno
        identifikacijo ali nadaljnjo analizo.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Organiziraj prevoz:</span></strong
      ><span class="step-text">
        Poskrbi, da bo oseba varno prepeljana domov ali k zdravniški pomoči, če
        je potrebno.</span
      >
    </li>
  </ol>
</div>
