<div class="container">
  <div class="card">
    <ng-container *ngIf="!isClosed">
      <div class="points">
        <h3>Točke: {{ points }}</h3>
      </div>

      <div class="progress mb-3">
        <div
          class="progress-bar progress-bar-striped bg-success"
          role="progressbar"
          [ngStyle]="{ width: progress + '%' }"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="question">
        <div class="question-card">
          <p>{{ questions[currentQuestion].question_text }}</p>
        </div>
      </div>
      <div class="answers">
        <ol
          *ngFor="let answer of questions[currentQuestion]?.answers; index as i"
        >
          <li (click)="answerClicked(currentQuestion + 1, answer)">
            <div
              appChangeBg
              [isCorrect]="
                questions[currentQuestion].correct_answers.includes(i)
              "
              class="card"
            >
              {{ answer }}
            </div>
          </li>
        </ol>
      </div>
      <div class="back-next">
        <button
          [disabled]="currentQuestion === 0"
          class="btn-back-next"
          (click)="previousQuestion()"
        >
          &lt;
        </button>
        <div class="remaining">
          <span>{{ currentQuestion }} / {{ questions.length }}</span>
        </div>
        <button class="btn-back-next" (click)="nextQuestion()">&gt;</button>
      </div>
    </ng-container>

    <ng-container *ngIf="isClosed">
      <div class="con-results">
        <div class="results">
          <h2>Kviz končan!</h2>
          <p>Vaš rezultat je:</p>
          <p>{{ percents }}%</p>
          <p>{{ points }} / {{ questions.length }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
