<div class="container">
  <p class="title">
    <strong
      ><span class="title-large"
        >ZASTRUPITEV S PREPOVEDANIMI SUBSTANCAMI</span
      ></strong
    >
  </p>
  <ol class="steps">
    <li>
      <span class="step-text"
        >Poskrbimo za lastno varnost (izogibamo se stiku s telesnimi tekočinami
        uživalcev drog).</span
      >
    </li>
    <li>
      <span class="step-text"
        >Preverimo, vzpostavimo in vzdržujemo osnovne življenjske
        funkcije.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Nezavestnega postavimo v stabilen bočni položaj in ga vse čas
        opazujemo.</span
      >
    </li>
    <li><span class="step-text">Pokličemo pomoč.</span></li>
    <li>
      <span class="step-text"
        >Nemirnega in agresivnega zastrupljenca umirimo in mu preprečimo, da bi
        se poškodoval.</span
      >
    </li>
    <li>
      <span class="step-text"
        >Odstranimo strup ali droge iz pacientove bližine ter shranimo morebitne
        ostanke drog, škatlice z zdravili ali tablete.</span
      >
    </li>
  </ol>
  <p class="spacer">&nbsp;</p>
  <p class="title">
    <strong
      ><span class="title-large"
        >PRVA POMOČ OB ZASTRUPITVI S PREPOVEDANIMI SUBSTANCAMI ZA LOVCA:</span
      ></strong
    >
  </p>
  <ol class="steps">
    <li>
      <strong
        ><span class="step-title">Poskrbi za lastno varnost:</span></strong
      >
      <span class="step-text">
        Preden pristopiš k osebi, preveri okolico in se prepričaj, da je varno.
        Izogibaj se neposrednemu stiku s telesnimi tekočinami uživalcev
        drog.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Preveri vitalne funkcije:</span></strong>
      <span class="step-text">
        Preveri vitalne funkcije osebe in poskrbi, da je sposobna dihati in
        ohranjati zavest.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Postavi osebo v stabilni bočni položaj:</span
        ></strong
      >
      <span class="step-text">
        Če je oseba nezavestna, jo postavi v stabilen bočni položaj, da
        preprečiš zadušitev zaradi morebitnega bruhanja. Ves čas jo
        opazuj.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Pokliči pomoč:</span></strong>
      <span class="step-text">
        Če je situacija resna ali če nisi prepričan o nadaljnjih korakih,
        pokliči pomoč. Priskrbi čim več informacij o lokaciji in stanju
        osebe.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Umiri nemirnega in agresivnega zastrupljenca:</span
        ></strong
      >
      <span class="step-text">
        Poskusi umiriti osebo in ji prepreči, da bi se poškodovala. Spremljaj
        njeno stanje in reagiraj na morebitne spremembe.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Odstrani in shrani prepovedane substance:</span
        ></strong
      >
      <span class="step-text">
        Če je mogoče, odstrani prepovedane substance iz pacientove bližine, da
        preprečiš nadaljnjo zastrupitev. Shrani morebitne ostanke drog ali
        embalažo za identifikacijo.</span
      >
    </li>
  </ol>
</div>
