<div class="container">
  <p class="title">
    <strong
      ><span class="title-large"
        >ZASTRUPITEV S PREPOVEDANIMI SUBSTANCAMI</span
      ></strong
    >
  </p>
  <p class="description">
    Zastrupitev s prepovedanimi substancami predstavlja resno nevarnost za zdravje in življenje, zato je nujno, da ob takšnem dogodku ukrepamo hitro in pravilno. Naša glavna skrb mora biti zaščita lastne varnosti in zagotavljanje stabilnega stanja zastrupljenca do prihoda strokovne pomoči.
  </p>
  <p class="spacer">&nbsp;</p>
  <ol class="steps">
    <li>
      <span class="step-text"
        ><strong>Poskrbimo za lastno varnost:</strong> Pri ravnanju z zastrupljencem moramo paziti, da se izognemo stiku s telesnimi tekočinami, saj lahko predstavljajo tveganje za okužbo ali kontaminacijo. Uporabimo zaščitne rokavice, če so na voljo.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Preverjanje in vzdrževanje življenjskih funkcij:</strong> Najprej preverimo, ali zastrupljenec diha in ali je prisoten utrip. Če so življenjske funkcije oslabljene ali odsotne, takoj pričnemo z osnovnimi postopki oživljanja.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Stabilni bočni položaj za nezavestnega:</strong> Če je oseba nezavestna, jo postavimo v stabilni bočni položaj, ki preprečuje zadušitev zaradi bruhanja ali ohlapnega jezika. Osebo ves čas opazujemo in spremljamo njeno stanje.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Klic na pomoč:</strong> Nemudoma pokličemo reševalce, saj je pri zastrupitvah s prepovedanimi substancami ključnega pomena hitra medicinska pomoč. Priskrbimo čim več informacij o situaciji in zaužitih substancah.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Umiritev zastrupljenca:</strong> Če je zastrupljenec nemiren ali agresiven, ga poskusimo pomiriti in mu preprečimo, da bi se poškodoval. Pomembno je, da ostanemo mirni in vzpostavimo varno okolje.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Odstranitev substanc:</strong> Iz okolice zastrupljenca odstranimo vse prepovedane substance, vključno z drogami ali strupi. Shranimo morebitne ostanke, kot so škatlice z zdravili ali tablete, saj bodo lahko pomagali pri nadaljnjem zdravljenju.</span
      >
    </li>
  </ol>
  <p class="spacer">&nbsp;</p>
  <p class="title">
    <strong
      ><span class="title-large"
        >PRVA POMOČ OB ZASTRUPITVI S PREPOVEDANIMI SUBSTANCAMI ZA LOVCA:</span
      ></strong
    >
  </p>
  <ol class="steps">
    <li>
      <strong
        ><span class="step-title">Poskrbi za lastno varnost:</span></strong
      >
      <span class="step-text">
        Preden pristopiš k osebi, preveri okolico in se prepričaj, da je varno.
        Izogibaj se neposrednemu stiku s telesnimi tekočinami uživalcev
        drog.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Preveri vitalne funkcije:</span></strong>
      <span class="step-text">
        Preveri vitalne funkcije osebe in poskrbi, da je sposobna dihati in
        ohranjati zavest.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Postavi osebo v stabilni bočni položaj:</span
        ></strong
      >
      <span class="step-text">
        Če je oseba nezavestna, jo postavi v stabilen bočni položaj, da
        preprečiš zadušitev zaradi morebitnega bruhanja. Ves čas jo
        opazuj.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Pokliči pomoč:</span></strong>
      <span class="step-text">
        Če je situacija resna ali če nisi prepričan o nadaljnjih korakih,
        pokliči pomoč. Priskrbi čim več informacij o lokaciji in stanju
        osebe.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Umiri nemirnega in agresivnega zastrupljenca:</span
        ></strong
      >
      <span class="step-text">
        Poskusi umiriti osebo in ji prepreči, da bi se poškodovala. Spremljaj
        njeno stanje in reagiraj na morebitne spremembe.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Odstrani in shrani prepovedane substance:</span
        ></strong
      >
      <span class="step-text">
        Če je mogoče, odstrani prepovedane substance iz pacientove bližine, da
        preprečiš nadaljnjo zastrupitev. Shrani morebitne ostanke drog ali
        embalažo za identifikacijo.</span
      >
    </li>
  </ol>
</div>
