<div class="container">
  <p class="title">
    <strong
      ><span class="title-large"
        >PRVA POMOČ PRI UGRIZU STRUPENE KAČE</span
      ></strong
    >
  </p>
  <p class="step-text">
    Poskrbimo za lastno varnost pri reševanju (odženemo kačo).
  </p>
  <p class="step-text">Pokličemo pomoč.</p>
  <p class="step-text">Zastrupljenec mora mirovati.</p>
  <p class="step-text">
    Zastrupljencu odstranimo uro, zapestnice, prstane in drugo zlatnino.
  </p>
  <p class="step-text">
    Rano očistimo, sterilno obvežemo in hladimo z obkladki.<br />&nbsp;Ud
    imobiliziramo.
  </p>
  <p class="step-text">Shranimo morebitno mrtvo kačo.</p>
  <p class="step-text">Poskrbimo za prevoz.</p>
  <p class="spacer">&nbsp;</p>
  <p class="title">
    <strong
      ><span class="title-large"
        >PRVA POMOČ PRI UGRIZU STRUPENE KAČE ZA LOVCA:</span
      ></strong
    >
  </p>
  <ol class="steps">
    <li>
      <strong
        ><span class="step-title">Poskrbi za lastno varnost:</span></strong
      >
      <span class="step-text">
        Preden pristopiš k zastrupljenemu, poskrbi za svojo varnost, zlasti če
        obstaja nevarnost, da bi te lahko napadla ali ugriznila kača.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Pokliči pomoč:</span></strong>
      <span class="step-text">
        Takoj pokliči reševalce in priskrbi čim več informacij o lokaciji in
        stanju zastrupljenca.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Zastrupljenec naj miruje:</span></strong>
      <span class="step-text">
        Prosite zastrupljenca, naj miruje, saj lahko premikanje pospeši kroženje
        strupa po telesu.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Odstrani nakit in ure iz prizadetega uda:</span
        ></strong
      >
      <span class="step-text">
        Odstrani nakit, kot so ure, zapestnice, prstani in druga zlatnina, saj
        lahko oteklina prepreči odstranitev nakita pozneje.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Očisti in obveži rano:</span></strong>
      <span class="step-text">
        Nežno očisti ugrizno mesto s sterilnimi obkladki ali čisto vodo, nato pa
        rano sterilno obveži.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Hladi rano z obkladki:</span></strong>
      <span class="step-text">
        Hladi rano z vlažnimi obkladki, če je na voljo, da zmanjšaš oteklino in
        lajšaš bolečino.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title">Imobiliziraj prizadeti ud:</span></strong
      >
      <span class="step-text">
        Poskusi imobilizirati prizadeti ud, da preprečiš hitro širjenje strupa
        po telesu. Uporabi širok povoj, trikotno ruto ali trak, da ud pritrdiš
        na mesto.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title">Shrani kačo, če je mogoče:</span></strong
      >
      <span class="step-text">
        Če je mogoče, shranite mrtvo kačo, da jo lahko identificirate in
        zdravniku pokažete za ustrezno zdravljenje.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Pripravi za prevoz:</span></strong>
      <span class="step-text">
        Poškodovanca pripravi za prevoz v bolnišnico, če je to potrebno in mu
        nudite podporo in tolažbo med čakanjem na reševalce.</span
      >
    </li>
  </ol>
</div>
