li {
  list-style: none;
}

.container {
  margin: 20px;
}

a:hover {
  color: #9c7936;
  transition-duration: 0.2s;
}

.active {
  color: #9c7936;
}

a {
  color: white;
}

.con-expander {
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  text-align: center;
}

.links {
  display: block;
  height: auto;
  //background: rgb(187, 187, 187, 0.2);
  background: #b29d76;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  margin: 0;
  max-width: 250px;
}

.toggle-btn {
  scale: 120%;
  cursor: pointer;
  display: none;
  height: 0;
}

.dropdown-menu {
  display: none;
  padding: 20px;
  max-width: 250px;
  //background: rgb(187, 187, 187, 0.2);
  background: #b29d76;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  display: block;
  height: auto;
  padding: 10px;
}

//RESPONSIVE DESIGN
@media (max-width: 992px) {
  .links {
    display: none;
    height: 0;
  }

  .toggle-btn {
    display: block;
    height: auto;
    margin: auto 0;
    margin-right: 10px;
  }

  .dropdown-menu {
    display: none;
  }

  .dropdown-menu.open {
    display: block;
    height: auto;
  }
}
