<div class="container">
  <div class="con-expander">
    <div #toggleBtn class="toggle-btn">
      <i #toggleBtnIcon class="fa-solid fa-bars"></i>
    </div>
    <p class="con-categories">Kategorije</p>
  </div>

  <ul class="links">
    <li><a href="gradiva/podhladitev">Podhladitev</a></li>
    <hr />
    <li><a href="gradiva/polozaj_nezavestnega">Položaj nezavestnega</a></li>
    <hr />
    <li>
      <a href="gradiva/pretirano_zauzitje_alkohola"
        >Pretirano zaužitje alkohola</a
      >
    </li>
    <hr />
    <li>
      <a href="gradiva/temeljni_postopki_ozivljanja"
        >Oživljanje z uporabo AED</a
      >
    </li>
    <hr />
    <li><a href="gradiva/udar_strele">Udar strele</a></li>
    <hr />
    <li><a href="gradiva/ugrizne_rane">Ugrizna rana</a></li>
    <hr />
    <li><a href="gradiva/ugriz_klopa">Ugriz klopa</a></li>
    <hr />
    <li><a href="gradiva/ugriz_strupene_kace">Ugriz strupene kače</a></li>
    <hr />
    <li>
      <a href="gradiva/zastrupitev_s_prepovedanimi_substancami"
        >Zastrupitev s prepovedanimi substancami</a
      >
    </li>
  </ul>

  <div #dropDownMenu class="dropdown-menu">
    <li><a href="gradiva/podhladitev">Podhladitev</a></li>
    <hr />
    <li><a href="gradiva/polozaj_nezavestnega">Položaj nezavestnega</a></li>
    <hr />
    <li>
      <a href="gradiva/pretirano_zauzitje_alkohola"
        >Pretirano zaužitje alkohola</a
      >
    </li>
    <hr />
    <li>
      <a href="gradiva/temeljni_postopki_ozivljanja"
        >Oživljanje z uporabo AED</a
      >
    </li>
    <hr />
    <li><a href="gradiva/udar_strele">Udar strele</a></li>
    <hr />
    <li><a href="gradiva/ugrizne_rane">Ugrizna rana</a></li>
    <hr />
    <li><a href="gradiva/ugriz_klopa">Ugriz klopa</a></li>
    <hr />
    <li><a href="gradiva/ugriz_strupene_kace">Ugriz strupene kače</a></li>
    <hr />
    <li>
      <a href="gradiva/zastrupitev_s_prepovedanimi_substancami"
        >Zastrupitev s prepovedanimi substancami</a
      >
    </li>
  </div>
</div>
