.container {
  width: 60%;
  margin: auto;
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  min-height: 80vh;
}

.card {
  background: rgb(187, 187, 187, 0.2);
  margin: 10%;
  padding: 5% 10%;
  border-radius: 30px;
}

.card-answer {
  background-color: white;
  margin: 3%;
  padding: 15px 35px;
  border-radius: 15px;
}

ol {
  margin: 0;
  padding: 0;
}

.back-next {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.btn-back-next {
  margin: 0 10px;
}

button {
  padding: 5px 15px;
}

li {
  list-style-type: none;
}

.results {
  text-align: center;
}

.true-answer {
  background: #ecffd7;
  margin: 3%;
  padding: 15px 35px;
  border-radius: 15px;
}

.false-answer {
  background: #fbdbd4;
  margin: 3%;
  padding: 15px 35px;
  border-radius: 15px;
}

.li-question {
  padding: 5px 0 35px 0;
}

.question {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.points {
  margin: 0;
  white-space: nowrap;
  align-items: flex-start;
}

.meta {
  display: flex;
  justify-content: space-between;
}

.datum-con {
  margin:  0 10px;
}

.datum {
  white-space: nowrap;
  margin: 0;
}

.score h2{
  margin: 0;
}

//RESPONSIVE DESIGN
@media (max-width: 992px) {
  .container {
    width: 100%;
    font-size: 18px;
  }

  .card {
    margin: 15% 5%;
  }
}
