<div class="footer-container">
  <div class="left-align">
    <div class="footer-logo"></div>
    <div class="footer-lovska">
      <p>Lovska zveza Slovenije</p>
      <a href="https://www.lovska-zveza.si/">lovska-zveza.si</a>
    </div>
  </div>

  <div class="right-align">
    <div class="footer-address">
      <p>Župančičeva ulica 9</p>
      <p>1000 Ljubljana</p>
    </div>
    <div class="footer-contact">
      <div class="footer-phone">
        <a href="tel:+386-1-241-09-10">(01) 241 09 01</a>
        <a href="mailto: lzs&#64;lovska-zveza.si">lzs&#64;lovska-zveza.si</a>
      </div>
      <div class="footer-socials">
        <a href="https://www.youtube.com/c/LovskaZvezaSlovenije_LZS">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com/lovskazvezaslovenije/?locale=sl_SI">
          <i class="fa-brands fa-square-facebook"></i>
        </a>
        <a href="mailto: lzs&#64;lovska-zveza.si">
          <i class="fa-regular fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</div>
