<div class="container">
  <p class="title-large">
    <strong>PODHLADITEV</strong>
  </p>
  <p class="description">
    Podhladitev je resno stanje, ki nastane zaradi dolgotrajne izpostavljenosti mrazu, pri čemer se telesna temperatura zniža na nevarno raven. Glede na stopnjo podhladitve lahko opazimo različne simptome, ki zahtevajo specifične ukrepe.
  </p>
  <p class="spacer">&nbsp;</p>
  <p class="description">
    <strong>Blaga podhladitev &ndash;&nbsp;</strong> Oseba je pri zavesti.
    Prisotna sta drgetanje in vznemirjenost. Srčni utrip in dihanje sta
    pospešena.
  </p>
  <p class="description">
    <strong>Zmerna podhladitev &ndash;&nbsp;</strong> Oseba je zaspana in
    otopela. Drgetanje preneha. Srčni utrip in dihanje sta upočasnjena.
  </p>
  <p class="description">
    <strong>Huda podhladitev &ndash;&nbsp;</strong> Oseba je nezavestna. Srčni
    utrip in dihanje sta komaj zaznavna, plitva in neredna.
  </p>
  <p class="spacer">&nbsp;</p>
  <p class="description">
    <strong>Ukrepanje pri blagi podhladitvi:</strong>

  </p>
  <ol class="steps">
    <li>Izvajamo zaščito pred mrazom.</li>
    <li>Spodbujamo gibanje in telovadbo.</li>
    <li>Podhlajeni naj v kratkih požirkih pije vroč sladkan čaj.</li>
  </ol>
  <p class="description">
    <strong>Ukrepanje pri zmerni podhladitvi:</strong>
  </p>
  <ol class="steps">
    <li>Izvajamo zaščito pred mrazom.</li>
    <li>
      Če požiranje ni več zanesljivo, naj podhlajena oseba ne pije tekočin
      (nevarnost zadušitve).
    </li>
    <li>Podhlajeno osebo premikamo samo, če je nujno.</li>
    <li>Skrbno nadziramo stanje in ukrepamo, če nastopi nezavest.</li>
  </ol>
  <p class="description">
    <strong>Ukrepanje ob hudi podhladitvi:</strong>
  </p>
  <ol class="steps">
    <li>
      Osebo zaščitimo pred mrazom in jo namestimo v stabilni bočni položaj.
    </li>
    <li>
      Nadziramo bitje srca in dihanje ter se pripravimo na morebitno oživljanje.
    </li>
  </ol>
  <p class="spacer">&nbsp;</p>
  <p class="description">
    <strong>Zaščita pred mrazom (improviziran toplotni ovoj):</strong>
  </p>
  <ol class="steps">
    <li>Najdemo zavetje pred vetrom.</li>
    <li>Slečemo mokra oblačila podhlajeni osebi.</li>
    <li>Podhlajeni osebi oblečemo topla in suha oblačila.</li>
    <li>
      Na trebuh, pod pazduhi in na dimlje podhlajene osebe položimo grelne
      obloge (ne neposredno na kožo!).
    </li>
    <li>
      Jedro telesa (trup) podhlajene osebe ovijemo s folijo. Celotno telo skupaj
      z udi ovijemo z več sloji odej ali spalno vrečo.
    </li>
  </ol>
  <p class="spacer">&nbsp;</p>
  <p class="title-large">
    <strong>PRVA POMOČ PRI PODHLADITVI ZA LOVCA:</strong>
  </p>
  <p class="description">
    <strong>Blaga podhladitev:</strong>
  </p>
  <ol class="steps">
    <li>
      <strong>Zaščiti pred mrazom:</strong> Poskrbi, da je oseba zaščitena pred
      nadaljnjim izpostavljanjem mrazu, na primer s preoblačenjem in zavetjem
      pred vetrom.
    </li>
    <li>
      <strong>Spodbujaj gibanje:</strong> Spodbujaj gibanje osebe, da bi
      spodbudil kroženje krvi in ogrevanje telesa.
    </li>
    <li>
      <strong>Pitje toplih tekočin:</strong> Če je oseba zmožna požiranja, ji
      ponudi vroč sladkan čaj v kratkih požirkih, ki bo pomagal pri ogrevanju
      telesa.
    </li>
  </ol>
  <p class="description">
    <strong>Zmerna podhladitev:</strong>
  </p>
  <ol class="steps">
    <li>
      <strong>Zaščiti pred mrazom:</strong> Poskrbi, da je oseba ustrezno
      zaščitena pred mrazom.
    </li>
    <li>
      <strong>Previdnost pri pitju:</strong> Če oseba ni zanesljiva pri
      požiranju, ne ponujaj tekočin, da bi se izognili nevarnosti zadušitve.
    </li>
    <li>
      <strong>Izogibaj se premikanju osebe:</strong> Premikaj osebo le, če je
      nujno potrebno, da preprečiš nadaljnjo izpostavljenost mrazu.
    </li>
    <li>
      <strong>Nadzoruj stanje:</strong> Skrbno nadziraj stanje osebe in ukrepaj,
      če se pojavijo znaki nezavesti.
    </li>
  </ol>
  <p class="description">
    <strong>Huda podhladitev:</strong>
  </p>
  <ol class="steps">
    <li>
      <strong>Zaščiti pred mrazom in postavi v stabilen položaj:</strong>
      Poskrbi, da je oseba ustrezno zaščitena pred mrazom in jo postavi v
      stabilen bočni položaj.
    </li>
    <li>
      <strong>Nadzoruj vitalne funkcije:</strong> Nadziraj bitje srca in dihanje
      ter se pripravi na morebitno oživljanje. Za ugotavljanje dihanja in bitja
      srca si vzemi dovolj časa (30-45 sekund). Če ju s čutili ne zaznaš, je
      potrebno oživljanje, ki ga izvajaj enako kot pri osebi, ki ni podhlajena.
    </li>
  </ol>
  <p class="spacer">&nbsp;</p>
  <p class="description">
    <strong>Zaščita pred mrazom (improviziran toplotni ovoj):</strong>
  </p>
  <ol class="steps">
    <li>
      <strong>Najdi zavetje pred vetrom:</strong> Poišči zavetje pred vetrovno
      izpostavljenimi območji.
    </li>
    <li>
      <strong>Sleci mokra oblačila:</strong> Če so oblačila mokra, jih sleci in
      nadomesti s suhimi.
    </li>
    <li>
      <strong>Obleci topla in suha oblačila:</strong> Obleci osebo v topla in
      suha oblačila.
    </li>
    <li>
      <strong>Uporabi grelne obloge:</strong> Položi grelne obloge na trebuh,
      pod pazduhe in na dimlje podhlajene osebe (ne neposredno na kožo).
    </li>
    <li>
      <strong>Ovijanje s folijo in odejo:</strong> Ovij jedro telesa (trup) s
      folijo in nato z več sloji odej ali spalno vrečo, da ohraniš telesno
      toploto.
    </li>
  </ol>
</div>
