<div class="container">
  <p class="title">
    <strong
      ><span class="title-large">PRVA POMOČ PRI UGRIZU KLOPA</span></strong
    >
  </p>
  <p class="description">
    Ugriz klopa je pogost in lahko prinese tveganje za resne bolezni, kot sta lymska borelioza in klopni meningoencefalitis. Pomembno je, da klopa pravilno odstranimo in spremljamo mesto ugriza, da zmanjšamo tveganje za okužbo.
  </p>
  <p class="spacer">&nbsp;</p>
  <ol class="steps">
    <li>
      <span class="step-text"
        ><strong>Identifikacija mesta ugriza:</strong> Najprej je pomembno, da natančno določimo, kje je klop ugriznil. To nam bo pomagalo pri pravilnem odstranjevanju in kasnejšem spremljanju.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Odstranitev klopa:</strong> Klopa odstranimo s pinceto ali s posebnim prijemalom, ki je namenjeno temu. Klopa zgrabimo čim bližje glavi in ga enakomerno izvlečemo iz kože. Potrudimo se, da odstranimo celotnega klopa, vključno z glavo. Pri tem ne uporabljamo olj, premazov ali drugih preparatov. Prav tako ne vrtimo pincete ali uporabljamo krožnih gibov, saj lahko to poveča možnost, da del klopa ostane v koži.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Razkuževanje mesta ugriza:</strong> Po odstranitvi klopa je pomembno, da mesto ugriza temeljito razkužimo. To zmanjšuje tveganje za okužbo in pospešuje celjenje.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Spremljanje mesta ugriza:</strong> Po odstranitvi klopa je potrebno opazovati kožo na mestu ugriza. Če opazimo kakršnekoli lise, izpuščaje ali druge spremembe na koži, moramo nemudoma obiskati zdravnika. Prav tako je obisk zdravnika nujen ob pojavu simptomov, kot so vročina, tresavica, utrujenost, bolečine v mišicah in sklepih, saj so to lahko znaki resnejših okužb.</span
      >
    </li>
  </ol>
  <p class="spacer">&nbsp;</p>
  <p class="title">
    <strong
      ><span class="title-large"
        >PRVA POMOČ PRI UGRIZU KLOPA ZA LOVCA:</span
      ></strong
    >
  </p>
  <ol class="steps">
    <li>
      <strong
        ><span class="step-title">Identificiraj mesto ugriza:</span></strong
      ><span class="step-text">
        Poišči in identificiraj mesto, kjer je klop zagrabil kožo.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Odstrani klopa:</span></strong
      ><span class="step-text">
        S pinceto ali s posebnim prijemalom čim bližje glavi klopa ga nežno, a
        trdno zgrabi in izvleci iz kože. Poskusi odstraniti celotnega klopa,
        vključno z glavo, brez vrtenja pincete ali uporabe krožnih gibov. Ne
        uporabljaj olj, premazov ali drugih preparatov.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Razkuži mesto ugriza:</span></strong
      ><span class="step-text">
        Po odstranitvi klopa temeljito razkuži mesto ugriza, da preprečiš
        morebitno okužbo.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Opazuj kožo in počutje:</span></strong
      ><span class="step-text">
        Po odstranitvi klopa redno opazuj kožo na mestu ugriza. Če opaziš
        kakršnekoli nenavadne lise ali izpuščaje, nemudoma poišči zdravniško
        pomoč. Prav tako obišči zdravnika ob pojavu simptomov, kot so vročina,
        tresavica, utrujenost, glavobol, bolečina v mišicah in sklepih.</span
      >
    </li>
  </ol>
</div>
