<div class="container">
  <p class="title">
    <strong><span class="title-text">PRETIRANO ZAUŽITJE ALKOHOLA</span></strong>
  </p>

  <p class="description">
    Pretirano zaužitje alkohola lahko vodi do zastrupitve, ki predstavlja resno zdravstveno stanje. Takšna zastrupitev lahko povzroči nezavest, motnje dihanja, hipotermijo in druge nevarne zaplete. Pravilno in hitro ukrepanje je ključno za preprečevanje nadaljnjih poškodb in reševanje življenja.
  </p>
  <p class="spacer">&nbsp;</p>
  <ol class="steps">
    <li>
      <span class="step-text"
        ><strong>Preverjanje in vzdrževanje življenjskih funkcij:</strong> Najprej je pomembno preveriti in vzpostaviti osnovne življenjske funkcije, kot so dihanje, bitje srca in zavest. Če ugotovimo, da je oseba nezavestna, jo moramo nemudoma postaviti v stabilni bočni položaj. Ta položaj omogoča, da dihalne poti ostanejo odprte in zmanjša tveganje za zadušitev zaradi bruhanja. Ves čas je potrebno spremljati stanje osebe in biti pozoren na morebitne spremembe.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Klic na pomoč:</strong> V primeru hude zastrupitve z alkoholom je nujno takoj poklicati strokovno pomoč. Reševalci bodo lahko nudili ustrezno medicinsko oskrbo in poskrbeli za varen prevoz do bolnišnice.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Zaščita pred podhladitvijo:</strong> Oseba, ki je pod vplivom alkohola, lahko hitro izgubi telesno toploto, kar lahko privede do podhladitve. Da to preprečimo, je pomembno, da zastrupljenca pokrijemo z odejo ali drugo toplo tkanino.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Pomiritev in preprečevanje poškodb:</strong> Če je zastrupljenec nemiren ali agresiven, ga poskusimo umiriti in mu preprečiti, da bi se poškodoval. Prav tako je potrebno pregledati, ali ima oseba kakšne vidne poškodbe, kot so odrgnine, podplutbe ali bolečine ob pritisku. Te poškodbe je potrebno ustrezno oskrbeti.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Shranjevanje dokazov:</strong> Če je mogoče, poiščemo in shranimo embalažo ali ostanke zaužite tekočine, saj lahko ti podatki pomagajo zdravstvenim delavcem pri diagnozi in zdravljenju.</span
      >
    </li>
    <p class="spacer">&nbsp;</p>
    <li>
      <span class="step-text"
        ><strong>Poskrbimo za varen prevoz:</strong> Na koncu poskrbimo, da bo zastrupljenec varno prepeljan v bolnišnico ali na drugo varno lokacijo, kjer bo lahko prejel nadaljnjo zdravstveno oskrbo.</span
      >
    </li>
  </ol>
  <p class="description">
     Z ustreznim ukrepanjem lahko znatno zmanjšamo tveganje za resne zaplete in poskrbimo za varnost osebe.</p>
  <p class="spacer">&nbsp;</p>
  <p class="title">
    <strong
      ><span class="title-text"
        >PRVA POMOČ OB PRETIRANEM ZAUŽITJU ALKOHOLA ZA LOVCA:</span
      ></strong
    >
  </p>
  <ol class="steps">
    <li>
      <strong><span class="step-title">Preveri vitalne funkcije:</span></strong
      ><span class="step-text">
        Poskrbi, da je oseba sposobna dihati in jo poskusi ohraniti pri
        zavesti.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Postavi osebo v stabilni bočni položaj:</span
        ></strong
      ><span class="step-text">
        Če je oseba nezavestna, jo položi v stabilni bočni položaj, da preprečiš
        zadušitev zaradi morebitnega bruhanja. Osebo ves čas opazuj.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Pokliči pomoč:</span></strong
      ><span class="step-text">
        Če je situacija resna ali če nisi prepričan o nadaljnjih korakih,
        pokliči pomoč. Priskrbi čim več informacij o lokaciji in stanju
        osebe.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Odeja za ohranjanje telesne toplote:</span
        ></strong
      ><span class="step-text">
        Če je okolje hladno, pokrij osebo z odejo, da preprečiš
        podhladitev.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title">Umiri nemirnega zastrupljenca:</span></strong
      ><span class="step-text">
        Poskusi umiriti osebo in prepreči, da bi se poškodovala. Spremljaj njeno
        stanje in reagiraj na morebitne spremembe.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title">Preveri morebitne poškodbe:</span></strong
      ><span class="step-text">
        Preglej osebo in poišči morebitne znake poškodb, kot so odrgnine,
        podplutbe ali bolečine. Oskrbi poškodbe po potrebi.</span
      >
    </li>
    <li>
      <strong
        ><span class="step-title"
          >Shrani embalažo in ostanke tekočine:</span
        ></strong
      ><span class="step-text">
        Če je na voljo, poišči embalažo ali ostanke alkohola za morebitno
        identifikacijo ali nadaljnjo analizo.</span
      >
    </li>
    <li>
      <strong><span class="step-title">Organiziraj prevoz:</span></strong
      ><span class="step-text">
        Poskrbi, da bo oseba varno prepeljana domov ali k zdravniški pomoči, če
        je potrebno.</span
      >
    </li>
  </ol>
</div>
